/*
	Reset
	--------------------------------------------------
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}


/*
	Typography
	--------------------------------------------------
*/

body {font: 0.750em/1.5em Arial, Verdana, Helvetica, sans-serif;}

h1, h2, h3, p {margin: 0 0 10px;}

p:last-child {margin: 0;}

h1 {font-size: 1.5em;}

h2 {font-size: 1.3em;}