/*
	Structure
	--------------------------------------------------
*/

.wrap {
	margin: 20px auto;
	width: 50%;
}

.set,
.panel {
	margin: 0 0 10px;
}


/*
	Tabs
	--------------------------------------------------
*/

.tabs .panel {padding: 10px;}

.tabs-menu {
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
}

.tabs-menu li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 3px -1px 0;
	border: 1px solid #ccc;
	border-radius: 3px 3px 0 0;
	padding: 6px 12px;
	background-color: #ededed;
	cursor: pointer;
	position: relative;
}

.tabs-menu .active-tab {
	background-color: #fff;
	border-bottom: 0;
	padding-bottom: 7px;
}

/* Use CSS3 transitions */

.set-3 .tabs-content {
	position: relative;
}

.set-3 .panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.4s ease-out;
}

.set-3 .panel.active-tab {
	opacity: 1;
	position: relative;
	z-index: 2;
}